<nav
  class="fixed w-full top-0 bg-gray-200 border-gray-400 border-b rounded-b-xl flex flex-col justify-between items-center md:flex-row md:px-6"
>
  <!--logo-->
  <div class="flex flex-row gap-1 my-2 md:m-0">
    <h3>T0PN4V</h3>
    <h3 class="hidden md:inline"><img class="min-w-7 w-7" src="icons/monitor.svg" /></h3>
    <h3 class="inline md:hidden"><img class="min-w-7 w-7" src="icons/mobile.svg" /></h3>
  </div>

  <button
    class="border rounded px-2 py-1 cursor-pointer bg-gray-100 inline md:hidden hover:bg-gray-8000 transition duration-300"
    (click)="toggleHamburgerMenu()"
  >
    <img class="w-6" src="icons/hamburger-menu.svg" />
  </button>

  <!--Links-->
  <div
    class="flex flex-col justify-between items-center gap-2 md:flex-row my-1 md:flex-wrap md:mx-2 md:my-4 transition-all duration-300 ease-in-out md:max-h-none md:opacity-100"
    [ngClass]="{
      'my-4 max-h-96 opacity-100': isHamburgerMenuOpened(),
      'max-h-0 opacity-0': !isHamburgerMenuOpened(),
    }"
  >
    <a href="#">
      <button class="btn-navbar-top">Home</button>
    </a>
    <a href="#">
      <button class="btn-navbar-top">Reference</button>
    </a>
    <a href="#">
      <button class="btn-navbar-top">Prices</button>
    </a>
    <a href="#">
      <button class="btn-navbar-top">Contact</button>
    </a>
    <a href="#">
      <button class="btn-navbar-top">Login</button>
    </a>
  </div>
</nav>
